<div class="container-fluid">
  <h2 class="text-center">
    Our
    <span class="underline">movies
    </span>
  </h2>
  <% if authorized? %>
    <%= link_to new_movie_path do %>
      <p><span class="glyphicon glyphicon-film" aria-hidden="true"></span> New movie</p>
    <% end %>
  <% end %>

  <% @movies.each do |movie| %>
    <%= link_to (authorized? ? edit_movie_path(movie) : movie_path(movie) ) do %>
      <img src=<%= movie.poster_url %> alt="Movie Poster">
    <% end %>
  <% end %> <!-- end each -->

</div> <!-- end .container -->


