<div class="container-fluid">
    <h2 class="text-center">
      Our
        <span class="underline">directors
        </span>
    </h2>
  	<%= link_to new_director_path do %>
  	  <p><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> New director</p>
  	<% end %>
  	<ul>
  	  <% @directors.each do |director| %>
        <li>
          <%= director.fullname %> 
          <%= link_to edit_director_path(director) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true">
          <% end %>    
        </li>
  	 <% end %> <!-- end each -->
  	</ul>
</div> <!-- end .container -->