<div class="directors top-border padded">
  <h2 class="text-center">
    Our <span class="underline">directors</span>
  </h2>
  <% if authorized? %>
    <%= link_to new_director_path do %>
      <p><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> New director</p>
    <% end %>
  <% end %>
  <ul>
    <% @directors.each do |director| %>
      <span>
        <%= link_to director.fullname, director_path(director), class: 'discrete-link body-font' %>
        <% if authorized? %>
          <%= link_to edit_director_path(director) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>
        <% end %>
        ·</span>
    <% end %> <!-- end each -->
  </ul>
  <p><%= link_to '<< Back to homepage', root_path %></p>
</div> <!-- end .container -->
