<div class="card__back top-border">
  <div class="back__row">
    <h3>The directors most watched</h3>
  </div>

  <div class="back__row">
    <% @directors_podium.each do |director| %>
      <div class="back__director circular">
        <%= link_to director_path(director), class: 'discrete-link' do %>
          <p><%= director.fullname %></p>
          <p><%= pluralize(director.movie_nb, 'film') %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="back__row">
    <p class="back__text"><%= link_to 'View all directors', directors_path %></p>
  </div>
</div>
