<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 what">
			<h2>WHAT</h2>
		</div>
		<div class="col-sm-4 when">
			<h2>WHEN</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 who">
			<h2>WHO</h2>
		</div>
		<div class="col-sm-8 where">
			<h2>WHERE</h2>
		</div>
	</div>
	<div class="col-sm-8 what-back">
			<div class="row center">
				<h3>Most popular films</h3>
			</div>
			
			<div class="row center">
				<div class="col-sm-4">
					<img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/b/2/9/3/600_453705715.jpeg"/>
					<figcaption>10 filmbuffs</figcaption>
				</div>
				<div class="col-sm-4">
					<img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/a/e/c/2/600_455204738.jpeg"/>
					<figcaption>10 filmbuffs</figcaption>
				</div>
				<div class="col-sm-4">
					<img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/6/1/5/1/600_454404913.jpeg"/>
					<figcaption>10 filmbuffs</figcaption>
				</div>
			</div>
		<div class="row">
					<a href="#">View all 60 films</a>
		</div>
	</div>
</div>