.home {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  padding: 0;
  margin: 0;
}

.home__row {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.home__icon {
  height: 100px;
}

.no-padding {
  padding: 0 !important;
}

.twice-size {
  flex: 2;
}

.once-size {
  flex: 1;
}
@media all and (max-width: 800px) {
  .home__row {
    flex-direction: column;
  }

  .home__card--map {
    display: none;
  }

  .home__icon {
    height: 75px;
  }
}

@media all and (max-width: 576px) {
  .home__icon {
    height: 50px;
  }
}

.card__front {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.blueish {
  background-color: #13747D;
}

.blueish:hover {
  background-color: #13565C;
}

.blackish {
  background-color: #29221F;
}

.blackish:hover {
  background-color: #1C1815;
}

.blackish h2, .pinkish h2 {
  font-family: 'Open-Sans', sans-serif;
  color: white;
}

.yellowish {
  background-color: #FCF7C5;
}

.yellowish:hover {
  background-color: #DBD7A2;
}

.yellowish h2 {
  color: #29221F;
}

.pinkish {
  background-color: #FC354C;
}

.pinkish:hover {
  background-color: #D91636;
}

.card__back {
  flex: 1;
  display: flex;
  flex-direction: column;
  display: none;
  padding: 10px;
}

.back__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.padding {
  padding: 15px;
}

/*** Who section ***/

.back__director {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back__director p {
  margin: 0;
}

.circular {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.circular:nth-of-type(1n) {
  background-color: #13747D;
  color: white;
}

.circular:nth-of-type(1n) a {
  color: white !important;
}

.circular:nth-of-type(2n) {
  background-color: #FCF7C5;
  color: black;
}

.circular:nth-of-type(2n) a {
  color: black !important;
}

.circular:nth-of-type(3n) {
  background-color: #FC354C;
  color: white;
}

.circular:nth-of-type(3n) a {
  color: white !important;
}

/* where section */

#map {
  height: 100%;
}

.amcharts-main-div {
}
