/*** Fonts and colours ***/
body a {
	font-family: 'Lobster', cursive;
	color: #0ABFBC;
}

body a:hover {
	color: #179e98;
}

h1, h2, h3 {
	font-family: 'Open-Sans', sans-serif;
	text-align: center;
	color: #29221F;
}

p, figcaption {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.center {
	text-align: center;
}

/**************** Body *******************/

///div {
///	border: solid 1px black;
///}

container {
	background-color: #29221F;
}

#home h2 {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translateY(-50%, -50%);
}

/**************** Home *******************/

.card-back {
	display: none;
}

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}

#example {
	height: 40vh;
	width: 100vh;
}

.what, .when, .where, .who {
	height: 40vh;
	position: relative;
}

.what, .when, .where {
	color: white;
}

.when {
	background-color: #29221F;
}

.who {
	background-color: #FCF7C5;
}

.where {
	background-color: #FC354C;
}

.when:hover {
	background-color: #1C1815;
}

.who:hover {
	background-color: #DBD7A2;
}

.where:hover {
	background-color: #D91636;
}

/*** What section ***/


.what {
	background-color: #13747D;
}

.what:hover {
	background-color: #13565C;
}

img {
	max-width: 200px;
	max-height: 200px;
	border-radius: 5%;
}

.what-back h3 {
	margin: 5px;
	color: #13747D;
}

/*** When section ***/

.when-back h3 {
	margin: 5px;
	color: #29221F;
	font-family: 'Open-Sans', sans-serif;
}

.when h2 {
	font-family: 'Open-Sans', sans-serif;
	color: white;
}

.when h2:hover {
	color: white;
}

/*** When section ***/

.circular {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.circular:nth-of-type(1n) {
  background-color: #13747D;
  color: white;
}

.circular:nth-of-type(2n) {
  background-color: #FCF7C5;
  color: black;
}

.circular:nth-of-type(3n) {
  background-color: #FC354C;
  color: white;
}

.circular {
  position: relative;
}

.circular p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.who-back div {
  margin: 5px auto 5px auto;

}

/*** Where section ***/

#chartdiv {
  width: 100%;
  height: 500px;
}	

/**************** Header *******************/

header img {
  max-width: 60%;
  border-radius: 50%;
  overflow: hidden;
  /*border: 1px solid #E8DDCB;*/
  max-height: 20%;
}

header {
	padding: 20px;
	background-color: white;
	margin: 0px;
}
