<header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <p class='text-center'>
        <img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/1/b/b/c/600_437647100.jpeg" alt="Filmclub Logo" id="logo" class='header__img'>
      </p>
    </div>
    <div class="col-sm-8">
      <h1>A few snapshots of the
        <a href="https://www.meetup.com/The-Arthouse-Film-Club/">Paris Arthouse Film Club</a> adventures
      </h1>
    </div>
    <div class="col-sm-2">
      <% if logged_in? %>
        <p class='header__logout'>
          <%= link_to "Log out", logout_path, method: "delete" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
</header>
